<!DOCTYPE html>
<html ng-app="FreeGoldAngular">

  <head>
    <!-- jQuery / Angular CDNs -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <script src="app.js"></script>
    <script src="controllers/ShopController.js"></script>

    <!-- Semantic UI CDNs -->
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/components/dropdown.min.js"></script>


    <meta charset="utf-8">
    <title>FGW | Angular</title>
  </head>

  <body>

    <!-- Page Header -->
    <header>
      <div class="ui centered row tagline">
        <p>home of the most pinball machines in san francisco</p>
      </div>
      <div class="logo-box">
        <div class="ui text menu">
          <!-- Logos -->
          <div class="header item">
            <a href="#home">
              <h1 class="initials logo">fgw.</h1>
              <h1 class="full-name logo">freegoldwatch.</h1>
            </a>
          </div>
          <!-- Navigation -->
          <div class="right menu">
            <!-- Smells Fishy -->
            <p class="item psa" style="color:#161616;">print. shop. arcade.</p>

            <div class="ui dropdown item">
              <div class="ui icon button" style="background-color:#161616;">
                <i class="large bars icon" style="color:#ffffff;"></i>
              </div>
              <div class="burger menu">
                <div class="header">
                  freegoldwatch
                  <i class="location arrow icon"></i>
                </div>
                <div class="ui divider"></div>
                <div id="pins-link" class="left aligned item">
                  <i class="bomb icon"></i>
                  pinball arcade.
                </div>

                <div id="prints-link" class="left aligned item">
                  <i class="theme icon"></i>
                  printmaking shop.
                </div>
                <div id="parties-link" class="left aligned item">
                  <i class="birthday icon"></i>
                  parties and events.</div>
                <div id="social-link" class="left aligned item">
                  <i class="hashtag icon"></i>
                  social media.
                </div>
                <div class="ui divider"></div>
                <div class="header foot-link">
                  <i class="home red icon"></i>
                  1767 Waller St. SF, CA 94117
                </div>
                <div class="header foot-link">
                  <i class="phone blue icon"></i>
                  1(415) 876-4444
                </div>
                <div class="header foot-link">
                  <i class="envelope green icon"></i>
                  info@freegoldwatch.com
                </div>
              </div>
            </div>
          </div> <!-- closes Nav -->
        </div>  <!-- closes 'ui text menu' -->
      </div>  <!-- closes logo-box -->
    </header>

    <main ng-view></main>

    <!-- Page Footer -->
    <footer id="foot">
      <div class="foot-cap"></div>
      <div class="content-box">
        <div class="ui center aligned stackable grid">
          <div class="row">
            <div class="five wide computer seven wide tablet column">
              <a href="https://www.google.com/maps/place/Free+Gold+Watch/@37.7682011,-122.4549127,17z/data=!4m5!3m4!1s0x80858751638705a1:0xc5438abd8814e010!8m2!3d37.7682011!4d-122.452724" target="_blank">
                <img src="images/new_map.png" class="ui image">
                <p><i class="home icon"></i> 1767 Waller St. SF, Ca. 94117</p>
              </a>
            </div>
            <div class="six wide computer one wide tablet column"></div>
            <div class="five wide computer seven wide tablet column">
              <img src="images/hours.gif" class="ui image">
              <a href="mailto:info@freegoldwatch.com">
                <p><i class="envelope icon"></i>info@freegoldwatch.com</p>
              </a>
              <a href="tel:14158764444">
                <i class="phone icon"></i>415 876-4444
              </a>
            </div>
          </div>

          <div class="row">
            <div class="three wide column"></div>
            <div class="ten wide column">
              <%= link_to 'https://www.facebook.com/FreeGoldWatchShop/', target: '_blank' do %>
                <%= fa_icon "facebook-square 3x" %>
              <% end %>
              <%= link_to 'https://www.instagram.com/freegoldwatch/', target: '_blank' do %>
                <%= fa_icon "instagram 3x" %>
              <% end %>
              <%= link_to 'https://twitter.com/freegoldwatchus', target: '_blank' do %>
                <%= fa_icon "twitter-square 3x" %>
              <% end %>
              <p>copyright <i class="copyright icon"></i>2018 | freegoldwatch.</p>
            </div>
            <div class="three wide column"></div>
          </div>
        </div>
      </div>

    </footer>


  </body>
</html>
