@font-face {
  font-family: 'helsinkiregular';
  src: url('fonts/helsinki-webfont.eot');
  src: url('fonts/helsinki-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/helsinki-webfont.woff') format('woff2'),
       url('fonts/helsinki-webfont.ttf') format('woff'),
       url('fonts/helsinki-webfont.ttf')  format('truetype'),
       url('fonts/helsinki-webfont.svg#helsinkiregular') format('svg');
}

* {
  font-family: 'helsinkiregular';
}
